doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 2
    link(rel='stylesheet', href='./css/d-02.css')
  body
    h1 drill 2
    #wrapper
      input#input
      button#button upper/lower
      #results


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-02.js')
