doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 6
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 drill 6

    input#input
    button#button Last Three
    #result

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
