doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 17
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 drill 17 Portfolio
    h3 shares
    input#shares(type='text')
    h3 symbol
    input#symbol(type='text')
    button#get Get Position
    #quote

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
