doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 18
    link(rel='stylesheet', href='./css/d-18.css')
  body
    h1 drill 18 Auto-update

    h3 symbol
    input#symbol(type='text')
    button#add Add to Auto-update
    table#stocks
      thead
        tr
          th Symbol
          th Quote
      tbody#body


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-18.js')
