doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 19
    link(rel='stylesheet', href='./css/d-19.css')
  body
    h1 drill 19
    input#symbol(type='text')
    button#button sum
    #quote

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-19.js')
